<hr />
<a href="/markings/page" class="btn btn-default">
    <i class="fa fa-arrow-alt-circle-left"></i> Voltar</a>

<section class="mt-2">
    <div class="row">
        <div class="col-md-4">
            <div class="card card-info collapsed-card">
                <div class="card-header">
                    <h3 class="card-title">Informações Gerais do Ponto</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body p-0">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Descrição do Ponto</td>
                                <td>{{marking.name}}</td>
                            </tr>
                            <tr>
                                <td>Código</td>
                                <td>{{marking.code}}</td>
                            </tr>
                            <tr>
                                <td>Referência</td>
                                <td>{{marking.ref}}</td>
                            </tr>
                            <tr>
                                <td>Bairro</td>
                                <td>{{marking.bairro.nome}}</td>
                            </tr>
                            <tr>
                                <td>Categoria</td>
                                <td>{{marking.categoria.nome}}</td>
                            </tr>
                            <tr>
                                <td>Estado</td>
                                <td>{{marking.estado}}</td>
                            </tr>
                            <tr>
                                <td>Largura</td>
                                <td>{{marking.largura}}</td>
                            </tr>
                            <tr>
                                <td>Comprimento</td>
                                <td>{{marking.comprimento}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card card-success collapsed-card">
                <div class="card-header">
                    <h3 class="card-title">Informações do Proprietario</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body p-2">
                    {{#if marking.isAssociated}}
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Nome</td>
                                <td>{{marking.utente.nome}}</td>
                            </tr>
                            <tr>
                                <td>Nº de Identificação</td>
                                <td>{{marking.utente.bi}}</td>
                            </tr>
                            <tr>
                                <td>Telefone</td>
                                <td>{{marking.utente.telefone}}</td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td>{{marking.utente.email}}</td>
                            </tr>
                            <tr>
                                <td>Morada</td>
                                <td>{{marking.utente.morada}}</td>
                            </tr>
                        </tbody>
                    </table>
                    {{else}}
                    <p class="text-center text-red">Associar Proprietario</p>
                    <form id="form-prop" autocomplete="off">
                        <input type="hidden" name="id" id="id" value="{{marking.id}}">
                        <div class="form-group">
                            <label for="bi">Nº de Identificação do Proprietario</label>
                            <input type="text" id="bi" name="bi" class="form-control" required />
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-primary" type="submit">Associar</button>
                            <button class="btn btn-danger" type="reset">Limpar</button>
                        </div>
                    </form>
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-warning collapsed-card">
                <div class="card-header">
                    <h3 class="card-title">Licenças associada</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body p-0">
                    <table id="table-licenca" class="table">
                        <thead>
                            <tr>
                                <th>Descricao</th>
                                <th>Numero</th>
                                <th>Observação</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each marking.licencas}}
                            <tr>
                                <td>{{this.descricao}}</td>
                                <td>{{this.numero}}</td>
                                <td>{{this.observacao}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-danger collapsed-card">
                <div class="card-header">
                    <h3 class="card-title">Associar Licença</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body p-0">
                    <form id="form-licenca" autocomplete="off" action="/licenca" method="post">
                        <input type="hidden" name="code" id="code" value="{{marking.code}}">
                        <input type="hidden" name="id" id="id" value="-1">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="descricao">Descrição da Licença</label>
                                <input type="text" id="descricao" name="descricao" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label for="numero">Número da Licença</label>
                                <input type="number" id="numero" name="numero" class="form-control" required />
                            </div>
                            <div class="form-group">
                                <label for="observacao">Observacao</label>
                                <textarea id="observacao" name="observacao" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-primary" type="submit">Associar</button>
                            <button class="btn btn-danger" type="reset">Limpar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(function () {
        $(`#form-licenca`).submit((e) => {
            e.preventDefault();

            var data = $(`#form-licenca`).serialize();
            data = convertSerializedToJSON(data);

            fetch(`/licenca`, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(data),
            }).then((response) => response.json())
                .then((res) => {
                    //alert("Licenca associada com sucesso");
                    clearForm(`#form-licenca`);

                    var novaLinha = `<tr><td>${data.descricao}</td>
                    <td>${data.numero}</td>
                    <td>${data.observacao}</td></tr>`;

                    $('#table-licenca tbody').append(novaLinha);
                    Toast.fire({
                        icon: "success",
                        title: "Associado com Sucesso",
                    });
                })
                .catch((error) => {
                    alert(error.message);
                });
        });

        $("#form-prop").submit((e) => {
            e.preventDefault()

            var data = $(`#form-prop`).serialize();
            data = convertSerializedToJSON(data);

            fetch("/markings/associate", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(data),
            }).then((res) => res.json()).then((res) => {
                Toast.fire({
                    icon: "success",
                    title: res.message,
                });
            }).catch((e) => {
                alert(e.message)
            })

        })
    });
</script>