<hr />
<section class="mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Informações Gerais do Ponto</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body p-0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>-</th>
                                <th>-</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Descrição do Ponto</td>
                                <td>{{marking.name}}</td>
                            </tr>
                            <tr>
                                <td>Código</td>
                                <td>{{marking.code}}</td>
                            </tr>
                            <tr>
                                <td>Referência</td>
                                <td>{{marking.ref}}</td>
                            </tr>
                            <tr>
                                <td>Bairro</td>
                                <td>{{marking.bairro.nome}}</td>
                            </tr>
                            <tr>
                                <td>Categoria</td>
                                <td>{{marking.categoria.nome}}</td>
                            </tr>
                            <tr>
                                <td>Estado</td>
                                <td>{{marking.estado}}</td>
                            </tr>
                            <tr>
                                <td>Largura</td>
                                <td>{{marking.largura}}</td>
                            </tr>
                            <tr>
                                <td>Comprimento</td>
                                <td>{{marking.comprimento}}</td>
                            </tr>
                            <tr>
                                <td>Nome do Proprietario</td>
                                <td>{{marking.utente.nome}}</td>
                            </tr>
                            <tr>
                                <td>BI do Proprietario</td>
                                <td>{{marking.utente.bi}}</td>
                            </tr>
                            <tr>
                                <td>Tel/Email do Proprietario</td>
                                <td>{{marking.utente.telefone}} - {{marking.utente.email}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-info">
                <div class="card-header">
                    <h3 class="card-title">Licenças associada</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body p-0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Descricao</th>
                                <th>Numero</th>
                                <th>Observação</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each marking.licencas}}
                            <tr>
                                <td>{{this.descricao}}</td>
                                <td>{{this.numero}}</td>
                                <td>{{this.observacao}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card card-secondary">
                <div class="card-header">
                    <h3 class="card-title">Associar Nova Licença</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <form id="form-ass-licenca" method="post">
                    <input type="hidden" name="markingId" id="markingId" value="{{marking.id}}">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="descricao">Descrição da Licença</label>
                            <input type="text" id="descricao" name="descricao" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="numero">Número da Licença</label>
                            <input type="number" id="numero" name="numero" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="observacao">Observacao</label>
                            <textarea id="observacao" name="observacao" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary" type="submit">Associar</button>
                        <button class="btn btn-danger" type="reset">Cancelar</button>
                    </div>
                </form>
                <!-- /.card-body -->
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">General</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="inputName">Project Name</label>
                        <input type="text" id="inputName" class="form-control" value="AdminLTE" />
                    </div>
                    <div class="form-group">
                        <label for="inputDescription">Project Description</label>
                        <textarea id="inputDescription" class="form-control" rows="4">Raw
              denim you probably haven't heard of them jean shorts Austin.
              Nesciunt tofu stumptown aliqua butcher retro keffiyeh dreamcatcher
              synth. Cosby sweater eu banh mi, qui irure terr.</textarea>
                    </div>
                    <div class="form-group">
                        <label for="inputStatus">Status</label>
                        <select id="inputStatus" class="form-control custom-select">
                            <option disabled>Select one</option>
                            <option>On Hold</option>
                            <option>Canceled</option>
                            <option selected>Success</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="inputClientCompany">Client Company</label>
                        <input type="text" id="inputClientCompany" class="form-control" value="Deveint Inc" />
                    </div>
                    <div class="form-group">
                        <label for="inputProjectLeader">Project Leader</label>
                        <input type="text" id="inputProjectLeader" class="form-control" value="Tony Chicken" />
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
    </div>
</section>