<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Dashboard</h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
        </ol>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="row">

    <div class="col-lg-2 col-6">
      <div class="small-box bg-success">
        <div class="inner">
          <h3>{{data.utentes}}</h3>
          <p>Utentes</p>
        </div>
        <div class="icon">
          <i class="fa fa-user-astronaut"></i>
        </div>
        <a href="/utente/page" class="small-box-footer">Mais <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>

    <div class="col-lg-2 col-6">
      <div class="small-box bg-warning">
        <div class="inner">
          <h3>{{data.bairros}}</h3>
          <p>Bairros</p>
        </div>
        <div class="icon">
          <i class="fa fa-map-marked"></i>
        </div>
        {{#if user.isAdmin}}
        <a href="/bairro/page" class="small-box-footer">Mais <i class="fas fa-arrow-circle-right"></i></a>
        {{else}}
        <a class="small-box-footer">-</a>
        {{/if}}
      </div>
    </div>

    <div class="col-lg-2 col-6">
      <div class="small-box bg-indigo">
        <div class="inner">
          <h3>{{data.licencas}}</h3>
          <p>Licenças</p>
        </div>
        <div class="icon">
          <i class="fa fa-id-card"></i>
        </div>
        <a href="/licenca/page" class="small-box-footer">Mais <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>

    <div class="col-lg-6 col-6">
      <div class="small-box bg-info">
        <div class="inner">
          <h3>{{data.marks}}</h3>
          <p>Pontos Mapeados</p>
        </div>
        <div class="icon">
          <i class="fa fa-map"></i>
        </div>
        <a href="/markings/page" class="small-box-footer">Mais <i class="fas fa-arrow-circle-right"></i></a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <canvas height="350px" id="chart1"></canvas>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <canvas height="350px" id="chart2"></canvas>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <canvas height="350px" id="chart3"></canvas>
      </div>
    </div>
  </div>
</section>

<script>
  let mark = {{ data.marks }}
  let ut = {{ data.utentes }}
  let bar = {{ data.bairros }}
  let lic = {{ data.licencas }}

  let pend = {{ markings.pendentes }}
  let leti = {{ markings.letigio }}
  let reg = {{ markings.regularizado }}

  let percpend = {{ markings.percentPendente }}
  let percleti = {{ markings.percentLetigio }}
  let percreg = {{ markings.percentRegularizado }}
</script>
<script src="/js/views/index.js"></script>